

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>Search Page</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="./assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/materialdesignicons.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap-slider.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" href="./assets/css/vendor/fancybox.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="./assets/css/vendor/nouislider.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/colors/default.css" id="colorswitch">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="wrapper">
        <!-- Start header -->

        <!-- End header -->
        <!-- Start main-content -->
        @RenderBody()
        <!-- End main-content -->
        <!-- Start footer -->
        <footer  style="  position: relative; overflow: hidden;">
            <div class="loader-container">
                <div class="loader"></div>
            </div>

            <div class="back-to-top">
                <a href="#"></a>
            </div>
          </footer>
        <!-- End footer -->
    </div>

    <!-- end colorPanel -->
    <!-- Core JS Files -->
    <script src="./assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="./assets/js/vendor/bootstrap-slider.min.js"></script>
    <script src="./assets/js/vendor/owl.carousel.min.js"></script>
    <script src="./assets/js/vendor/owl.carousel2.thumbs.min.js"></script>
    <script src="./assets/js/vendor/jquery.nicescroll.min.js"></script>
    <script src="./assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="./assets/js/vendor/nouislider.min.js"></script>
    <script src="./assets/js/vendor/jquery.horizontalmenu.js"></script>
    <script src="./assets/js/vendor/jquery.fancybox.min.js"></script>
    <script src="./assets/js/vendor/countdown.min.js"></script>
    <script src="./assets/js/vendor/wNumb.js"></script>
    <script src="./assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="./assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <!-- Main JS File -->
    <script src="./assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            var nonLinearStepSlider = document.getElementById('slider-non-linear-step');
            noUiSlider.create(nonLinearStepSlider, {
                start: [0, 20000],
                connect: true,
                direction: 'rtl',
                format: wNumb({
                    decimals: 0,
                    thousand: ','
                }),
                range: {
                    'min': [0],
                    '10%': [500, 500],
                    '50%': [40000, 1000],
                    'max': [100000]
                }
            });
            var nonLinearStepSliderValueElement = document.getElementById('slider-non-linear-step-value');
            nonLinearStepSlider.noUiSlider.on('update', function (values) {
                nonLinearStepSliderValueElement.innerHTML = values.join(' - ');
            });
        });
    </script>
</body>

</html>